[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "~=1.0"
ruff = "~=0.7"
tqdm = "~=4.66"
requests = "~=2.32"
wget = "~=3.2"

[dev-packages]
pytest = "~=8.3"
pytest-cov = "~=5.0"

[requires]
python_version = "3.12"

[scripts]
    download_data = "pipenv run python -m mediabridge.data_processing.download_data"
    delete_data = "pipenv run python -m mediabridge.data_processing.clean_up_data"
