[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "~=1.0"
ruff = "~=0.7"
tqdm = "~=4.66"
requests = "*"
wget = "*"

[dev-packages]
pytest = "~=8.3"
pytest-cov = "~=5.0"

[requires]
python_version = "3.12"

[scripts]
    download_data = "python download_data.py"
    delete_data = "python clean_up_data.py"
